<a href="https://colab.research.google.com/github/LexuScarr/DE_Sprint_NR/blob/main/DE_sprint_1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("/content/ds_salaries.csv", index_col="id")
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
id,,,,,,,,,,,
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

# Сгруппируйте вакансии по направлениями (DS, DE, Software Engenering, etc.)

In [ ]:
df.groupby('job_title').count()

## **Все операции по группам вакансий**

In [ ]:
agg_func_math_all = {
    'salary': ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'mad', 'prod']
}
df.groupby(["job_title"]).agg(agg_func_math_all).round(2)

# Какая средняя и медианная зарплата по группам вакансий?

In [ ]:
agg_func_math = {
    'salary': ['mean', 'median']
}
df.groupby(["job_title"]).agg(agg_func_math).round(2)

# Какая средняя и медианная зарплата по каждому региону?

In [ ]:
agg_func_salary_region = {'salary': ['mean', 'median']}
df.groupby(["company_location"]).agg(agg_func_salary_region).round(2)

# Какая самая высокооплачиваемая из групп вакансий, исходя из их средних зарплат?  Head of Machine Learning - 6000000

In [ ]:
agg_func_math = {
    'salary': ['mean']
}
df.groupby('job_title').agg(agg_func_math).max()

salary  mean    6000000.0
dtype: float64

# Какое процентное соотношение каждого региона по вакансиям от всех вакансий?

In [ ]:
df.groupby('company_location').size() / len(df)

# Сколько должностей в наборе данных?

In [ ]:
df.groupby('experience_level').count()

# Какие 10 наиболее часто встречающихся должностей?

In [13]:
n = 10
df['job_title'].value_counts()[:n].index.tolist()

['Data Scientist',
 'Data Engineer',
 'Data Analyst',
 'Machine Learning Engineer',
 'Research Scientist',
 'Data Science Manager',
 'Data Architect',
 'Big Data Engineer',
 'Machine Learning Scientist',
 'Principal Data Scientist']